@font-face {
  font-family: "Lemon_milk";
  src: url(../font/lemon_milk/LemonMilk.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
  display: none;
}

header {
  background-image: url(../img/background.png);
  background-size: cover;
  height: 70vh;
  background-color: #38588e;
}

.navigation a:hover {
  background-color: #ca9f1d;
  padding: 5px;
}

h1 {
  font-family: "Lemon";
  font-size: 1.5em;
}

.ul {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn {
  text-decoration: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav {
  background-color: #38588e;
  padding: 10px;
}

.btn {
  display: block;
  text-decoration: none;
  color: #fff;
}

a {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.img {
  position: relative;
}

#coupscoeur {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 10%;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity ease-in 300ms;
  transition: opacity ease-in 300ms;
  color: black;
}

.img:hover #coupscoeur {
  opacity: 0.8;
}

.galerieArticle {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.galerieAccueil {
  padding: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.bouton {
  text-decoration: none;
  color: black;
  border: solid 0.1em black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.bouton:hover {
  background-color: #ca9f1d;
  color: white;
}

article {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infosAccueil {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  margin: 0 auto;
}

.articleAccueil {
  padding: 6px;
  width: 30%;
}

.titres {
  color: #ca9f1d;
}

.categories {
  height: 80vh;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#part2, #part4 {
  background-color: #D9E8F5;
}

.chanteur {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-fluid {
  width: 100%;
  height: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  height: 20vh;
  background-color: #38588e;
}
/*# sourceMappingURL=style.css.map */