//Variables 

$mainColor : #38588e;
$color2 : #ca9f1d;
$colorback: #D9E8F5;
$colorback2 : #FFF07B;


@font-face {
    font-family : "Lemon_milk";
    src: url(../font/lemon_milk/LemonMilk.otf)
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

//Menu 

label{
    display: none;
}


header{
    background-image: url(../img/background.png);
    background-size: cover;
    height: 70vh;
    background-color: $mainColor;
}

.navigation a:hover{
    background-color: $color2;
    padding: 5px;
}

h1{
font-family: "Lemon";
font-size: 1.5em;
}

.ul{
    height: 15vh;
    display: flex;
    flex-direction: row ;
}

.btn{
    text-decoration: none;
}

.navigation{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav{
    background-color: $mainColor;
    padding: 10px;
}

.btn{
    display: block;
    text-decoration: none;
    color: #fff;
}

a{
    margin-bottom: 10px;
}

//Corps Texte


//Section 1

h2{
    text-align: center;
}
.img{
    position: relative;
}
#coupscoeur{
    text-align: center;
    justify-content: center;
    position: absolute;
    border-radius: 10%;
    background-color: white;
    opacity: 0; 
    transition: opacity ease-in 300ms;
    color: black;
}
.img:hover #coupscoeur{
    opacity: 0.8;
}

.galerieArticle{
    display: block;
    justify-content: center;
    padding: 5px;
}

.galerieAccueil{
    padding: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  margin: 0 auto;

}

.bouton{
text-decoration: none;
color: black;
border: solid 0.1em black; 
justify-content: center;
padding: 5px;
&:hover{
 background-color: $color2;
  color: white;
        }
        }

article{
    display: block;
    justify-content: center;
    align-items: center;
}

//Section 2 

.infosAccueil{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0 auto;
   }

.articleAccueil{
    padding: 6px;
    width: 30%;
}
.titres{
    color: $color2;
}









//Artistes

.categories{
    height: 80vh;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}


#part2, #part4{
    background-color: $colorback;
}



.chanteur{
    display: block;
    justify-content: center;

}


.media-fluid{
    width: 100%;
    height: auto;
}






//Footer 

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 20vh;
    background-color: $mainColor; 
}
